@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pangolin&display=swap');


body {
    background-color: #07331e;
    color: #FFF;
    font-family: 'Pangolin', cursive;
    /*font-family: 'Roboto', sans-serif;*/
}

.word {
    display: flex;
}

.letter-wrapper {
    width: 30px;
    height: 50px;
    padding: 5px;
    border-bottom: 2px solid #FFF;
    margin: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.alphabet {
    display: flex;
    flex-wrap: wrap;
    width: 500px;
    height: 160px;
}

.alphabet button {
    outline: none;
    border: none;
    width: 20px;
    height: 20px;
    margin: 10px 10px 0 10px;
    background-color: #01160c;
    border-radius: 50%;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    color: #FFF;
}

.alphabet button:hover {
    /*background-color: rgba(0, 0, 0, .4);*/
    background-color: rgba(20, 22, 21, 0.4);
}

.hidden {
    display: none;
}

.guessed {
    opacity: 0.2;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
}

.header h1 {
    font-size: 2.8rem;
    letter-spacing: 5px;
}

.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.message {
    height: 90px;
    color: #FFF;
}

/* Gubben */
.hangman-wrapper {
	width: 300px;
	height: 350px;
	position: relative;
}

#del1 {
	width: 3px;
	height: 100%;
	background-color: rgb(255, 255, 255);
	position: absolute;
	left: 0px;
	bottom: 0px;
}

#del2 {
	width: 70%;
	height: 3px;
	background-color: rgb(255, 255, 255);
	position: absolute;
	top: 0;
	left: 0px;
}

#del3 {
	width: 3px;
	height: 25%;
	background-color: rgb(255, 255, 255);
	position: absolute;
	top: 0px;
	left: 70%;
}

#del4 {
	width: 3px;
	height: 100px;
	background-color: rgb(255, 255, 255);
	transform: rotate(45deg);
	position: absolute;
	top: -13px;
	left: 12%;
}

#del5 {
	width: 70px;
	height: 70px;
	border: 3px solid rgb(255, 255, 255);
	border-radius: 50%;
	position: absolute;
	top: 25%;
	left: 58%;
}

#del6 {
	width: 3px;
	height: 25%;
	background-color: rgb(255, 255, 255);
	position: absolute;
	top: 46%;
	left: 70%;
}

#del7 {
	width: 3px;
	height: 10%;
	background-color: rgb(255, 255, 255);
	transform: rotate(45deg);
	position: absolute;
	left: 74%;
	top: 50%;
}

#del8 {
	width: 3px;
	height: 10%;
	background-color: rgb(255, 255, 255);
	transform: rotate(-45deg);
	position: absolute;
	left: 66%;
	top: 50%;
}

#del9 {
	width: 3px;
	height: 10%;
	background-color: rgb(255, 255, 255);
	transform: rotate(45deg);
	position: absolute;
	left: 66%;
	top: 69%;
}

#del10 {
	width: 3px;
	height: 10%;
	background-color: rgb(255, 255, 255);
	transform: rotate(-45deg);
	position: absolute;
	left: 74%;
	top: 69%;
}

/* Restart knapp */
.restart {
    font-size: 1rem;
    border: none;
    background-color: #01160c;
    padding: .7rem 2rem;
    color: #FFF;
    text-decoration: none;
    border-radius: 5px;
}

.restart:hover {
    background-color: rgba(20, 22, 21, 0.4);
}

/*Footer*/

#copyright {
    display: flex;
    justify-content: flex-end;
    
}